<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="alternate" type="application/atom+xml" title="resolved.ch Feed" href="/atom.xml">
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel='mask-icon' href='/mask-icon.svg' color='#88AA00'>
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="/public/iosevka-term-slab-regular.subset.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="/public/iosevka-term-slab-bold.subset.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="/public/iosevka-term-slab-italic.subset.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="/public/iosevka-term-slab-bolditalic.subset.woff2">
  <title>{{title}} - {{pageTitle}}</title>
  {{#description}}
    <meta name="description" content="{{description}}">
  {{/description}}
</head>

<body>
</body>
  {{{body}}}
</html>