<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="alternate" type="application/atom+xml" title="resolved.ch Feed" href="/atom.xml">
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel='mask-icon' href='/mask-icon.svg' color='#88AA00'>
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous"
    href="/public/iosevka-term-slab-regular.subset.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous"
    href="/public/iosevka-term-slab-bold.subset.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous"
    href="/public/iosevka-term-slab-italic.subset.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous"
    href="/public/iosevka-term-slab-bolditalic.subset.woff2">
  <link rel="stylesheet" href="/public/style.css">
  <title>{{title}} - {{pageTitle}}</title>
  {{#description}}
  <meta name="description" content="{{description}}">
  {{/description}}
  <meta name="author" content="{{author}}">
  {{#keywords.length}}
  <meta name="keywords" content="{{keywords}}">
  {{/keywords.length}}
</head>

<body>
  <div class="site">
    <div class="content">
      <div class="header">
        <div>
          {{#home}}
          home
          {{/home}}
          {{^home}}
          <a href="/">home</a>
          {{/home}}
          {{#parentDirectories}}
          &nbsp;❱&nbsp;<a href="/{{full}}">{{name}}</a>
          {{/parentDirectories}}
        </div>
        <div>
          {{#title}}
          <h1>{{title}}</h1>
          {{/title}}
        </div>
      </div>
      {{{content}}}
    </div>
    <div class="footer">
      <div>
        {{updatedStr}}
      </div>
      <div>
        {{author}}
      </div>
    </div>
  </div>
</body>

</html>