<div class="site">
  <div class="content">
    <div class="header">
      <div>
        <a href="/">home</a>
        {{#parentDirectories}}
        &nbsp;❱&nbsp;<a href="/{{full}}">{{name}}</a>
        {{/parentDirectories}}
        {{#title}}
        &nbsp;❱&nbsp;{{title}}
        {{/title}}
      </div>
    </div>
    {{#subfolders.0}}
    <h1>Folders</h1>
    <ul>
      {{#subfolders}}
      <li><a href="/{{path}}">{{name}}</a></li>
      {{/subfolders}}
    </ul>
    {{/subfolders.0}}
    {{#filesOfDir.0}}
    <h1>Pages</h1>
    <ul>
      {{#filesOfDir}}
      <li><a href="/{{paths.htmlFileRel}}">{{meta.title}}</a></li>
      {{/filesOfDir}}
    </ul>
    {{/filesOfDir.0}}
  </div>
  <div class="footer">
    <div>
      {{updatedStr}}
    </div>
    <div>
      {{author}}
    </div>
  </div>
</div>