{{#subfolders.0}}
<h2>Folders</h2>
<ul>
  {{#subfolders}}
  <li><a href="/{{path}}">{{name}}</a></li>
  {{/subfolders}}
</ul>
{{/subfolders.0}}
{{#filesOfDir.0}}
<h2>Pages</h2>
<ul>
  {{#filesOfDir}}
  <li><a href="/{{paths.htmlFileRel}}">{{meta.title}}</a></li>
  {{/filesOfDir}}
</ul>
{{/filesOfDir.0}}