<div class="site">
  <div class="content">
    <div class="header">
      <div>
        {{#home}}
        resolved.ch
        {{/home}}
        {{^home}}
        <a href="/">home</a>
        {{/home}}
        {{#parentDirectories}}
        &nbsp;❱&nbsp;<a href="/{{full}}">{{name}}</a>
        {{/parentDirectories}}
      </div>
      <div>
        {{#title}}
        <h1>{{title}}</h1>
        {{/title}}
      </div>
    </div>
    {{{content}}}
  </div>
  <div class="footer">
    <div>
      {{updatedStr}}
    </div>
    <div>
      {{author}}
    </div>
  </div>
</div>