
@font-face {
    font-family: 'Iosevka Term Slab';
    src: url("/public/iosevka-term-slab-regular.subset.woff2") format('woff2');
}

@font-face {
    font-family: 'Iosevka Term Slab';
    font-weight: bold;
    src: url("/public/iosevka-term-slab-bold.subset.woff2") format('woff2');
}

@font-face {
    font-family: 'Iosevka Term Slab';
    font-style: italic;
    src: url("/public/iosevka-term-slab-italic.subset.woff2") format('woff2');
}

@font-face {
    font-family: 'Iosevka Term Slab';
    font-weight: bold;
    font-style: italic;
    src: url("/public/iosevka-term-slab-bolditalic.subset.woff2") format('woff2');
}


/* SITE LAYOUT */

* {
    font-family: 'Iosevka Term Slab', monospace;
    font-size: 16px;
}

p {
    margin: 0;
}

h1 {
    font-weight: bold;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
}

.content>*:not(h1, .header) {
    margin-left: 1rem;
}

body,
html {
    margin: 0;
    padding: 0;
}

.site {
    margin: 0 auto;
    max-width: 600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

/* HEADER and FOOTER */

.header,
.footer {
    padding: 1rem 0;
}

.footer {
    display: flex;
    margin-bottom: 1rem;
}

.footer>div {
    flex: 1;
    display: flex;
}

.footer>div:nth-child(1) {
    justify-content: flex-start;
}

.footer>div:nth-child(2) {
    justify-content: flex-end;
}

.footer {
    padding-top: 1rem;
    padding-bottom: .5rem;
}

/* MISC */

img {
    max-width: 100%;
}

/* LISTINGS */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul>li {
    text-indent: 0px;
}

ul>li:before {
    content: "- ";
}

/* COLORS */
body {
    background: #333;
    color: #ddd;
}

.site {
    background: #333;
    box-shadow: 0 0 100px #666;
}

.content>h1 {
    color: #5cad5c;
}

a {
    color: #ddd;
}

a:hover {
    color: #cdcd00;
}