@font-face {
    font-family: 'Iosevka Term Slab';
    src: url("/public/iosevka-term-slab-regular.subset.woff2") format('woff2');
}

@font-face {
    font-family: 'Iosevka Term Slab';
    font-weight: bold;
    src: url("/public/iosevka-term-slab-bold.subset.woff2") format('woff2');
}

@font-face {
    font-family: 'Iosevka Term Slab';
    font-style: italic;
    src: url("/public/iosevka-term-slab-italic.subset.woff2") format('woff2');
}

@font-face {
    font-family: 'Iosevka Term Slab';
    font-weight: bold;
    font-style: italic;
    src: url("/public/iosevka-term-slab-bolditalic.subset.woff2") format('woff2');
}

* {
    font-family: 'Iosevka Term Slab', monospace;
    font-size: 16px;
}

img {
    max-width: 566px;
}

/* h1 {
    margin: 0;
    display: inline;
    font-weight: normal;
} */

.content > h1 {
    font-weight: bold;
    margin-top: 1.2rem;
}

.content > p, pre {
    margin-left: 2rem;
}

/* LISTINGS */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul>li {
    text-indent: 0px;
}

ul>li:before {
    content: "- ";
}


/* SITE LAYOUT */

body,
html {
    margin: 0;
    padding: 0;
}

.site {
    margin: 0 auto;
    max-width: 600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, 
.footer {
    padding: 1rem 0;
}

.footer {
    display: flex;
    margin-bottom: 1rem;
}

.footer>div {
    flex: 1;
    display: flex;
}

.footer>div:nth-child(1) {
    justify-content: flex-start;
}

.footer>div:nth-child(2) {
    justify-content: flex-end;
}

.footer {
    padding-top: 1rem;
    padding-bottom: .5rem;
}


/* MOBILE */

@media screen and (max-width: 500px) {
    .footer>div:nth-child(2) {
        justify-content: flex-end;
    }

    .footer>div:nth-child(3) {
        display: none !important;
    }
}

/* COLORS */

/* TODO: enable light mode */

/* @media (prefers-color-scheme: dark) { */
    body {
        background: #333;
        color: #ddd;
    }

    .content > h1 {
        color: #5cad5c;
    }

    a {
        color: #ddd;
    }

    a:hover {
        color: #cdcd00;
    }

/* } */

/* @media (prefers-color-scheme: light) {
    * {
        background: #ddd;
        color: #333;
    }

    .section-title {
        color: #4a4;
    }

    a:hover {
        color: #bd8344;
    }
} */