$text-color: #fbf1c7;
$background-color: #323027;
$highlight1-color: #d65d0e;
$highlight2-color: #b8bb26;
$highlight3-color: #83a598;
$link-color: $text-color;
$link-color-hover: $highlight2-color;
$header-footer-color: $highlight3-color;

body {
    background: $background-color;
    color: $text-color;
}

#wrapper {
    background: $background-color;
    box-shadow: 0 0 100px #666;
}

h1 {
    color: $highlight1-color;
}

h2 {
    color: $highlight2-color;
}

a {
    color: $link-color;
}

a:hover {
    color: $link-color-hover;
}

.header, #footer {
    *:not(h1) {
        color: $header-footer-color;
    }
}

// code {
//     // color: $highlight3-color;
//     // font-family: 'DejaVu Sans Mono';
// }
