@font-face {
    font-family: 'Iosevka Term Slab';
    font-display: swap;
    font-weight: normal;
    src: url("/public/iosevka-term-slab-regular.subset.woff2") format('woff2');
}

@font-face {
    font-family: 'Iosevka Term Slab';
    font-display: swap;
    font-weight: bold;
    src: url("/public/iosevka-term-slab-bold.subset.woff2") format('woff2');
}

@font-face {
    font-family: 'Iosevka Term Slab';
    font-display: swap;
    font-style: italic;
    font-weight: normal;
    src: url("/public/iosevka-term-slab-italic.subset.woff2") format('woff2');
}

@font-face {
    font-family: 'Iosevka Term Slab';
    font-display: swap;
    font-weight: bold;
    font-style: italic;
    src: url("/public/iosevka-term-slab-bolditalic.subset.woff2") format('woff2');
}

/* Only one font size except katex */
*:not(.katex-html *) {
    font-family: 'Iosevka Term Slab', monospace;
    font-size: 16px;
}

.katex-html {
    font-size: 1.0rem;
}

code {
    color: #fca;
    /* font-size: 14px; */
    /* border: 1px solid #999; */
    /* border-radius: 0.3em; */
    /* padding: 0px 2px; */
    /* background: #555; */
}

.header {
    .menu, .menu * {
        font-style: italic;
    }
}

h1 {
    display: inline;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

h2 {
    text-transform: uppercase;
}
