<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} | {{pageTitle}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/dark.css">
  </head>
  <body>
    <div class="site">
      <div class="content">
        <div class="header">
          <div>
            <a href="/">Home</a>
            {{#path}}
              &nbsp;&gt;&nbsp;<a href="{{full}}">{{name}}</a>
            {{/path}}
            {{#title}}
              &nbsp;&gt;&nbsp;{{title}}
            {{/title}}
          </div>
        </div>
        {{#subfolders.0}}
        <h1>{{title}} Folders</h1>
          <ul>
              {{#subfolders}}
                <li><a href="{{name}}">{{name}}</a></li>
              {{/subfolders}}
          </ul>
        {{/subfolders.0}}
        {{#files.0}}
        <h1>{{title}} Pages</h1>
        <p>
          <ul>
              {{#files}}
                <li><a href="{{newDirRelative}}">{{meta.title}}</a></li>
              {{/files}}
          </ul>
        {{/files.0}}
        </p>
        <div class="footer">
            <div>
              {{created}}
            </div> 
            <div>
              {{author}}
            </div> 
        </div>
      </div>
    </div>
  </body>
</html>