<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} | {{pageTitle}}</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/dark.css">
  </head>
  <body>
    <div class="site">
      <div class="content">
        <div class="header">
          <div>
            <a href="/">Home</a>
            {{#parentDirectories}}
              &nbsp;&gt;&nbsp;<a href="{{full}}">{{name}}</a>
            {{/parentDirectories}}
            {{#title}}
              &nbsp;&gt;&nbsp;{{title}}
            {{/title}}
          </div>
        </div>
        {{#subfolders.0}}
        <h1>{{title}} Folders</h1>
          <ul>
              {{#subfolders}}
                <li><a href="{{name}}">{{name}}</a></li>
              {{/subfolders}}
          </ul>
        {{/subfolders.0}}
        {{#filesOfDir.0}}
        <h1>{{title}} Pages</h1>
        <p>
          <ul>
              {{#filesOfDir}}
                <li><a href="{{htmlFileRel}}">{{meta.title}}</a></li>
              {{/filesOfDir}}
          </ul>
        {{/filesOfDir.0}}
        </p>
      </div>
      <div class="footer">
          <div>
            {{created}}
          </div> 
          <div>
            {{author}}
          </div> 
      </div>
    </div>
  </body>
</html>